

<table class="table table-bordered">
  <tr>
    <th scope='col'>First Name</th>
    <th scope='col'>Last Name</th>
    <th scope='col'>Team Played For</th>
    <th scope='col'>Win Percent (x100)</th>
    <th scope='col'>Age</th>
  </tr>
  {{#each this}}
  <tr>
    <th scope='row'>{{first_name }}</td>
    <th scope='row'>{{last_name}}</td>
    <td>{{sports_team_name}}</td>
    <td>{{win_percent}}</td>
    <td>{{age}}</td>
  </tr>
  {{/each}}
</table>
