<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Teams Page</h1>

<h2>Add a Team</h2>
<form>
  <input type="radio" id="football" name="teamType" placeholder="Football">
  <label for="football">Football</label><br>
  <input type="radio" id="basketball" name="teamType" placeholder="Basketball">
  <label for="basketball">Basketball</label><br>
  <input type="radio" id="baseball" name="teamType" placeholder="Baseball">
  <label for="baseball">Baseball</label>
  <br>
  <input type="text" id="teamName" name="teamName" placeholder="Give your team a name">
  <label for="teamName">Team Name</label>
  <button id="submitTeamBtn" type="submit">Submit</button>
</form>

<h2>Add a Player</h2>
<form>
  <input type="text" id="firstname" name="firstname" placeholder="first name">
  <label for="firstname">Players First Name</label>
  <input type="text" id="lastname" name="lastname" placeholder="last name">
  <label for="lastname">Players Last Name</label>
  <input type="text" id="position" name="position" placeholder="Player's position">
  <label for="position">Players Position</label>
  <button id="submitPlayerBtn" type="submit">Submit</button>
</form>

<h2>All Teams</h2>
{{#each teams as |teamMember|}}
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>{{teamMember.team_type}}</td>
      <td>{{teamMember.team_name}}</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>{{teamMember.first_name }}</td>
      <td>{{teamMember.last_name}}</td>
      <td>{{teamMember.sports_team_name}}</td>
      <td>{{teamMember.win_percent}}</td>
      <td>{{teamMember.age}}</td>
      <td class="text-end">
    </tr>
  </tbody>
</table>
{{/each}}
<script src="/javascript/postPlayer.js"></script>
<script src="/javascript/postTeam.js"></script>
</body>
</html>